[Unit]
Description=Web UI API for Fabric AI 
After=network.target

[Service]
ExecStart=/usr/bin/python3 [REPLACE]/aiwebui/aiwebui.py
WorkingDirectory=[REPLACE]
StandardOutput=journal
StandardError=journal
Restart=always
User=[REPLACE]

[Install]
WantedBy=multi-user.target
