[Unit]
Description=Main Fabric API Entry Point for all functions
After=network.target

[Service]
ExecStart=/usr/bin/python3 [REPLACE]/api/fabai_get_ai_insights.py
WorkingDirectory=[REPLACE]
StandardOutput=journal
StandardError=journal
Restart=always
User=[REPLACE]

[Install]
WantedBy=multi-user.target
